<?xml version="1.0"?>
<robot name="mst110cr" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="mst110cr_2"/>
  <xacro:property name="prefix" value="$(arg prefix)"/>

  <xacro:arg name="prefix" default="mst110cr_2"/>

  <!-- Base Link -->
  <link name="${prefix}/base_link"/>

  <!-- Track {{{ -->
  <joint name="base_joint" type="fixed">
    <parent link="${prefix}/base_link"/>
    <child link="${prefix}/track_link"/>
  </joint>

  <link name="${prefix}/track_link">
    <visual>
      <geometry>
        <mesh filename="package://mst110cr_description/meshes/mst110cr-crawler.dae"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://mst110cr_description/meshes/mst110cr-crawler.dae"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.03"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
               iyy="1.0" iyz="0.0"
               izz="1.0"/>
    </inertial>
  </link>
  <!-- }}} Track ends here -->

  <!-- Body {{{ -->
  <joint name="rotate_joint" type="continuous">
    <origin xyz="0 0 1"/>
    <axis xyz="0 0 1"/>
    <parent link="${prefix}/track_link"/>
    <child link="${prefix}/body_link"/>
  </joint>

  <link name="${prefix}/body_link">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://mst110cr_description/meshes/mst110cr-body.dae"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://mst110cr_description/meshes/mst110cr-body.dae"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.03"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
               iyy="1.0" iyz="0.0"
               izz="1.0"/>
    </inertial>
  </link>
  <!-- }}} Body ends here -->

  <!-- os_stand frame {{{ -->
  <joint name="os_stand_joint" type="fixed">
    <parent link="${prefix}/body_link"/>
    <child link="${prefix}/os_stand"/>
    <origin xyz="2.640 0.660 2.260" rpy="0 0 0"/>
  </joint>

  <link name="${prefix}/os_stand">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-6"/>
      <inertia ixx="1e-6" ixy="0" ixz="0"
               iyy="1e-6" iyz="0"
               izz="1e-6"/>
    </inertial>
  </link>

  <!-- os_sensor frame {{{ -->
  <joint name="os_sensor_joint" type="fixed">
    <parent link="${prefix}/os_stand"/>
    <child link="${prefix}/os_sensor"/>
    <origin xyz="0.040 0.000 0.085" rpy="0 0 0"/>
  </joint>

  <link name="${prefix}/os_sensor">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-6"/>
      <inertia ixx="1e-6" ixy="0" ixz="0"
               iyy="1e-6" iyz="0"
               izz="1e-6"/>
    </inertial>
  </link>

  <!-- livox_fr frame {{{ -->
  <joint name="livox_fr_joint" type="fixed">
    <parent link="${prefix}/body_link"/>
    <child link="${prefix}/livox_fr"/>
    <origin xyz="2.98 -1.4 0.2" rpy="${radians(180)} 0 0"/>
  </joint>

  <link name="${prefix}/livox_fr">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-6"/>
      <inertia ixx="1e-6" ixy="0" ixz="0"
               iyy="1e-6" iyz="0"
               izz="1e-6"/>
    </inertial>
  </link>

  <!-- livox_fl frame {{{ -->
  <joint name="livox_fl_joint" type="fixed">
    <parent link="${prefix}/body_link"/>
    <child link="${prefix}/livox_fl"/>
    <origin xyz="2.98 1.4 0.2" rpy="${radians(180)} 0 0"/>
  </joint>

  <link name="${prefix}/livox_fl">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-6"/>
      <inertia ixx="1e-6" ixy="0" ixz="0"
               iyy="1e-6" iyz="0"
               izz="1e-6"/>
    </inertial>
  </link>

  <!-- livox_rr frame {{{ -->
  <joint name="livox_rr_joint" type="fixed">
    <parent link="${prefix}/body_link"/>
    <child link="${prefix}/livox_rr"/>
    <origin xyz="-2.4 -0.555 0.2" rpy="${radians(180)} 0 ${radians(180)}"/>
  </joint>

  <link name="${prefix}/livox_rr">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-6"/>
      <inertia ixx="1e-6" ixy="0" ixz="0"
               iyy="1e-6" iyz="0"
               izz="1e-6"/>
    </inertial>
  </link>

  <!-- livox_rl frame {{{ -->
  <joint name="livox_rl_joint" type="fixed">
    <parent link="${prefix}/body_link"/>
    <child link="${prefix}/livox_rl"/>
    <origin xyz="-2.4 0.555 0.2" rpy="${radians(180)} 0 ${radians(180)}"/>
  </joint>

  <link name="${prefix}/livox_rl">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-6"/>
      <inertia ixx="1e-6" ixy="0" ixz="0"
               iyy="1e-6" iyz="0"
               izz="1e-6"/>
    </inertial>
  </link>

  <!-- Vessel {{{ -->
  <joint name="dump_joint" type="revolute">
    <origin xyz="-2.389 0 0.562"/>
    <axis xyz="0 1 0"/>
    <parent link="${prefix}/body_link"/>
    <child link="${prefix}/vessel_link"/>
    <limit lower="${radians(-60)}" upper="${radians(0)}" effort="500" velocity="6.159937255"/>
  </joint>

  <link name="${prefix}/vessel_link">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://mst110cr_description/meshes/mst110cr-vessel.dae"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://mst110cr_description/meshes/mst110cr-vessel.dae"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.03"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
               iyy="1.0" iyz="0.0"
               izz="1.0"/>
    </inertial>
  </link>
  <!-- }}} Vessel ends here -->

  <!-- Vessel Cylinder {{{ -->
  <joint name="vessel_cylinder_joint" type="continuous">
    <origin xyz="-1.891 0 0.293"/>
    <axis xyz="0 1 0"/>
    <parent link="${prefix}/body_link"/>
    <child link="${prefix}/vessel_cylinder_link"/>
    <mimic joint="vessel_pin_joint" multiplier="${66/60}"/>
  </joint>

  <link name="${prefix}/vessel_cylinder_link">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://mst110cr_description/meshes/mst110cr-vessel_cylinder.dae"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://mst110cr_description/meshes/mst110cr-vessel_cylinder.dae"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.03"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
               iyy="1.0" iyz="0.0"
               izz="1.0"/>
    </inertial>
  </link>
  <!-- }}} Vessel Cylinder ends here -->

  <!-- Vessel Rod {{{ -->
  <joint name="vessel_rod_joint" type="prismatic">
    <origin xyz="0 0 0"/>
    <axis xyz="1.039 0 0.282"/>
    <parent link="${prefix}/vessel_cylinder_link"/>
    <child link="${prefix}/vessel_rod_link"/>
    <limit lower="0" upper="0.6" effort="500" velocity="6.159937255"/>
    <mimic joint="vessel_pin_joint" multiplier="${0.6/radians(-60)}"/>
  </joint>

  <link name="${prefix}/vessel_rod_link">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://mst110cr_description/meshes/mst110cr-vessel_rod.dae"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://mst110cr_description/meshes/mst110cr-vessel_rod.dae"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.03"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0"
               iyy="1.0" iyz="0.0"
               izz="1.0"/>
    </inertial>
  </link>
  <!-- }}} Vessel Rod ends here -->

  <joint name="gnss_joint" type="fixed">
    <origin xyz="1.42 0.60 2.20"/>
    <axis xyz="0 0 1"/>
    <parent link="${prefix}/body_link"/>
    <child link="${prefix}/gnss_link"/>
  </joint>

  <link name="${prefix}/gnss_link"/>

</robot>
