<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="simple_box">

  <link name="base_link">
    <inertial>
      <origin xyz="0 0 1.625" rpy="0 0 0"/>
      <mass value="16000.0"/>
      <!-- 慣性モーメント（直方体 6.00×2.98×3.25 m, 16000 kg） -->
      <!-- Ixx = 1/12*m*(b^2 + c^2) -->
      <!-- Iyy = 1/12*m*(a^2 + c^2) -->
      <!-- Izz = 1/12*m*(a^2 + b^2) -->
      <inertia
        ixx="25923.9333"
        iyy="62083.3333"
        izz="59840.5333"
        ixy="0.0"
        ixz="0.0"
        iyz="0.0"/>
    </inertial>

    <visual>
      <origin xyz="0 0 1.625" rpy="0 0 0"/>
      <geometry>
        <!-- 全長 6000 mm, 全幅 2980 mm, 全高 3250 mm -->
        <box size="6.0 2.98 3.25"/>
      </geometry>
      <material name="Grey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 1.625" rpy="0 0 0"/>
      <geometry>
        <box size="6.0 2.98 3.25"/>
      </geometry>
    </collision>
  </link>

</robot>
